
<p>Stock: <%= listing.stock.symbol %></p> 

Number of Shares: <%= listing.amount %><br>
Price: <%= listing.show_price %><br> <br>
Seller: <%= link_to listing.seller_name, user_path(listing.seller) %><br> <br>

<%= button_to 'Purchase', new_user_trade_path(current_user), params: {listing_id: listing.id, buyer_id: listing.seller.id}, method: :get %> <br>

