<%= flash[:errors] if flash[:errors] %>
<p>Current Balance: <%= current_user.account_balance.format %></p>

<%= form_for(current_user) do |u| %>
  <%= u.label "Deposit Amount" %>
  <%= u.text_field  :account_balance %>
  <%= u.submit "add funds"%>
<% end  %>