<%= flash[:errors].join(" ") if flash[:errors] %>
<h2> Welcome to Fakex! </h2>
<br><br>

<div class="form">
<%= form_for :user do |t| %>
<%= t.label :username %><br>
<%= t.text_field :username %><br><br>
<%= t.label :password %><br>
<%= t.text_field :password %><br><br>
<%= t.label :first_name %><br>
<%= t.text_field :first_name %><br><br>
<%= t.label :last_name %><br>
<%= t.text_field :last_name %><br><br>
<%= t.submit %>
<% end %>
</div>
