<p>Trade Confirmation</p>
<%= "hello #{current_user.first_name}" if @listing.id %>


<p>Listing ID: <%= @trade.listing_id %></p>
<p>Seller Name: <%= @listing.seller_name %></p>
<p>Number of Stocks: <%= @trade.num_of_stocks %></p>
<p>Unit Price: <%= @trade.trade_price %></p>
<p>Total Cost: <%= @trade.total_cost_read %></p>

<%= button_to 'Confirm Purchase', user_trades_path(current_user), params: {listing_id: @listing.id, user: current_user} %>
